.App {
  text-align: center;
}





#navbar {
  height: 4rem;
  position: fixed;
  z-index: 1;
  top: 0px;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-link {
  white-space: nowrap;
  font-size: 2rem;
  font-family: Helvetica;
  text-decoration: none;
  color: silver;
  margin: 4rem;
  text-align: center;
}
.navbar-link:hover {
  color: gray;
}

@keyframes fade-in {
  0% {opacity:0;}
  40%{opacity:0}
  100% {opacity:1;}
}
@keyframes fall {
  from {
    transform: translate(0, -100%);
  }
  to {
    transform: translate(0,0);
  }
}
